# Build
**/bin/
**/obj/

# User files
*.user
*.suo
*.userprefs

# Rider / VSCode / Visual Studio
.vs/
.idea/
.vscode/

# Logs
*.log

# Test
TestResults/

# MAUI
**/Platforms/**/obj/

# OS
.DS_Store
Thumbs.db
